<h1>Ask your coach</h1>
<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->


<form action="http://localhost:3000/answer?">
  <input type="text" name="question">
  <input type="submit" value="Ask!">

</form>
